# Node Build Artifacts
node_modules
npm-debug.log

# Local Development
*.env
*.dev
.DS_Store

build
dist
os/semantic/*
!os/semantic/src/
os/semantic/src/*
!os/semantic/src/site/
osw/semantic/*
!osw/semantic/src/
osw/semantic/src/*
!osw/semantic/src/site/