@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Libre+Baskerville:700|Montserrat:300,400,600|Roboto:400,500&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

$font-family-sans-serif: // Safari for macOS and iOS (San Francisco)
-apple-system,
// Chrome < 56 for macOS (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android
"Roboto",
// Basic web fallback
"Helvetica Neue",
Arial,
sans-serif,
// Emoji fonts
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;

$body-bg: #fff; // This will be different for production.

$font-family-base: 'Roboto', sans-serif; // This is where we switch the global font-family
$enable-responsive-font-sizes: true;
$theme-colors:('cyan': #26c6da, 'purple': #7b1fa2);
$logo-font: 'Grand Hotel', cursive;
$header-font: 'Libre Baskerville', serif;
$subheader-font: 'Montserrat', sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "../src/style/init";

/* 
 * REM Conversion
 *
 * px / 16 (base font-size) = REM
 * 10px = 0.625rem
 * 12px = 0.75rem
 * 14px = 0.875rem
 * 16px = 1rem (base)
 * 20px = 1.25rem
 * 24px = 1.5rem
 * 36px = 2.25rem
 * 48px = 3rem
 * 60px = 3.75rem
 * 72px = 4.5rem
 * 84px = 5.25rem
 * 96px = 6rem
 * 
 */

 .logo {
     font-family: $logo-font;
 }

/*
 * Buttons
 *
 * Here we have all of the button styles.
 *
 */
button,
.button,
.btn {
    font-size: 0.875rem;
    font-family: $font-family-base;
    font-weight: 600;
    text-transform: uppercase;
}

/* Segments */
.ui {
    &.segment {
        border: none;
        @include BoxShadow(1);

        &.lifted {
            @include BoxShadow(6);
        }

        &.raised {
            @include BoxShadow(12);
        }

        &.boosted {
            @include BoxShadow(24);
        }
    }
}

@each $name,
$color in $theme-colors {
    footer.#{$name} {
        background-color: #{$color}
    }
}

@each $name,
$color in $theme-colors {
    header.#{$name} {
        background-color: #{$color}
    }
}