$body-bg: #fcfcfc;
$body-color: #333333;
$gray-100: #efefef !default;
$gray-200: #e9ecef !default;
$gray-300: #e2e2e2 !default;
$gray-400: #bfbfbf !default;
$gray-500: #a0a0a0 !default;
$gray-600: #777777 !default;
$gray-700: #636363 !default;
$gray-800: #444444 !default;
$gray-900: #232323 !default;
$colors: (
//   "blue": $blue,
//   "indigo": $indigo,
//   "purple": $purple,
//   "pink": $pink,
//   "red": $red,
//   "orange": $orange,
//   "yellow": $yellow,
//   "green": $green,
//   "teal": $teal,
//   "cyan": $cyan,
//   "white": $white,
//   "gray": $gray-600,
//   "gray-dark": $gray-800
) !default;
$theme-colors:(
    'moss': #93c11f,
    'moss-light': #c7f457,
    'moss-dark': #609000,

    'moss-50': #f3f8e6,
    'moss-100': #e0ecc0,
    'moss-200': #cbe097,
    'moss-300': #b5d36c,
    'moss-400': #a4ca49,
    'moss-500': #93c11f,
    'moss-600': #83b116,
    'moss-700': #6d9e07,
    'moss-800': #588a00,
    'moss-900': #306900,

    'mustard': #ffc107,
    'mustard-light': #fff350,
    'mustard-dark': #c79100,

    'mustard-50': #fff8e1,
    'mustard-100': #ffecb3,
    'mustard-200': #ffe082,
    'mustard-300': #ffd54f,
    'mustard-400': #ffca28,
    'mustard-500': #ffc107,
    'mustard-600': #ffb300,
    'mustard-700': #ffa000,
    'mustard-800': #ff8f00,
    'mustard-900': #ff6f00,

    'mustard-a100': #FFE57F,
    'mustard-a200': #FFD740,
    'mustard-a400': #FFC400,
    'mustard-a700': #FFAB00,

    'gray': #444444,
    'gray-50': #fafafa,
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'gray-300': $gray-300,
    'gray-400': $gray-400,
    'gray-500': $gray-500,
    'gray-600': $gray-600,
    'gray-700': $gray-700,
    'gray-800': $gray-800,
    'gray-900': $gray-900,

    // Other Colors
    'dark-gray': #989898,
    'burly-wood': #DDD76C,
    'goldenrod': #CCC02C
);
$spacer: 1rem; 
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true; // Enables the prefers-reduced-motion media query, which suppresses certain animations/transitions based on the users’ browser/operating system preferences.
$enable-grid-classes: true;
$enable-caret: false;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: false;

$grid-breakpoints: (
  xs: 0,
  sm: 560px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 2560px
);

$font-family-base: 'Open Sans', sans-serif; // This is where we switch the global font-family

$font-family-sans-serif: 
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for macOS (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    "Roboto",
    // Basic web fallback
    "Helvetica Neue",
    Arial,
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

$header-font: 'Fredoka One', cursive;

$subheader-font: 'Nunito', sans-serif;

// Spacers
$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * .5),
    2: $spacer,
    3: ($spacer * 1.5),
    4: ($spacer * 2),
    5: ($spacer * 2.5),
    6: ($spacer * 3),
    7: ($spacer * 3.5),
    8: ($spacer * 4),
    9: ($spacer * 4.5),
    10: ($spacer * 5),
    11: ($spacer * 5.5),
    12: ($spacer * 6),
    13: ($spacer * 6.5),
    14: ($spacer * 7),
    15: ($spacer * 7.5),
    16: ($spacer * 8),
    17: ($spacer * 8.5),
    18: ($spacer * 9),
    19: ($spacer * 9.5),
    20: ($spacer * 10)
);

@import "~animate.css/animate.min";

@import "~bootstrap/scss/bootstrap";

@import "~mmenu-js/src/mmenu";
@import "~mburger-css/src/scss/mburger";

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "~flickity/dist/flickity.min";

$slick-loader-path: "../node_modules/slick-carousel/slick/";
$slick-font-path: "../node_modules/slick-carousel/slick/fonts/";

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

@import "../src/style/init";

/* 
 * REM Conversion
 *
 * px / 16 (base font-size) = REM
 * 10px = 0.625rem
 * 12px = 0.75rem
 * 14px = 0.875rem
 * 16px = 1rem (base)
 * 20px = 1.25rem
 * 24px = 1.5rem
 * 36px = 2.25rem
 * 48px = 3rem
 * 60px = 3.75rem
 * 72px = 4.5rem
 * 84px = 5.25rem
 * 96px = 6rem
 * 
 */

 $theme-color-shades: (
    'moss-neg-1': theme-color-level(moss, -1),
    'moss-neg-2': theme-color-level(moss, -2),
    'moss-neg-3': theme-color-level(moss, -3),
    'moss-neg-4': theme-color-level(moss, -4),
    'moss-neg-5': theme-color-level(moss, -5),
    'moss-neg-6': theme-color-level(moss, -6),
    'moss-neg-7': theme-color-level(moss, -7),
    'moss-neg-8': theme-color-level(moss, -8),
    'moss-neg-9': theme-color-level(moss, -9),
    'moss-neg-10': theme-color-level(moss, -10),
    'moss-1': theme-color-level(moss, 1),
    'moss-2': theme-color-level(moss, 2),
    'moss-3': theme-color-level(moss, 3),
    'moss-4': theme-color-level(moss, 4),
    'moss-5': theme-color-level(moss, 5),
    'moss-6': theme-color-level(moss, 6),
    'moss-7': theme-color-level(moss, 7),
    'moss-8': theme-color-level(moss, 8),
    'moss-9': theme-color-level(moss, 9),
    'moss-10': theme-color-level(moss, 10),
    'mustard-neg-1': theme-color-level(mustard, -1),
    'mustard-neg-2': theme-color-level(mustard, -2),
    'mustard-neg-3': theme-color-level(mustard, -3),
    'mustard-neg-4': theme-color-level(mustard, -4),
    'mustard-neg-5': theme-color-level(mustard, -5),
    'mustard-neg-6': theme-color-level(mustard, -6),
    'mustard-neg-7': theme-color-level(mustard, -7),
    'mustard-neg-8': theme-color-level(mustard, -8),
    'mustard-neg-9': theme-color-level(mustard, -9),
    'mustard-neg-10': theme-color-level(mustard, -10),
    'mustard-1': theme-color-level(mustard, 1),
    'mustard-2': theme-color-level(mustard, 2),
    'mustard-3': theme-color-level(mustard, 3),
    'mustard-4': theme-color-level(mustard, 4),
    'mustard-5': theme-color-level(mustard, 5),
    'mustard-6': theme-color-level(mustard, 6),
    'mustard-7': theme-color-level(mustard, 7),
    'mustard-8': theme-color-level(mustard, 8),
    'mustard-9': theme-color-level(mustard, 9),
    'mustard-10': theme-color-level(mustard, 10)
);

@each $name, $color in $theme-color-shades {
    .text-#{$name} {
        color: #{$color}!important;
    }
    .bg-#{$name} {
        background-color: #{$color}!important;
    }
    .border-#{$name} {
        border-color: #{$color}!important;
    }
}

html,
body {
    height: 100vh;
    overflow: visible;
}
body {
    line-height: 1.6;
}

#wrapper {
    overflow: hidden;
    max-width: 100%;
}

#wrapper > main > header > div:nth-child(1), #wrapper > main > *:nth-child(1):not(header):not(.pt-0) {
    padding-top: 160px;
}

.flex-page {
    width: 100%;
    height: 75vh;
    min-height: 900px;
    position: relative;
    & .row {
        height: 100%;
    }
}

.bg-404, .bg-404 body {
    
}

.placeholder-header {
    height: 1px;
    position: relative;
}

img.logo {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    height: auto;
}

img.icon {
    min-width: 62px;
    width: 62px;
    max-width: 62px;
    height: auto;
}

.cover {
    height: 100vh;
    min-height: 900px;
    overflow: hidden;
}

.bg-leaf {
    background-color: #f3f8e6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23cbe097' fill-opacity='0.5' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.bg-autumn {
    background-color: #fff8e1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23ffe082' fill-opacity='0.5'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.flickity-viewport, .flickity-slider {
    overflow: visible;
}

.product-carousel {
    & .product-slide {
        padding: 0.5rem;
        width: 100%;
        max-width: 300px;
        height: 400px;
        max-height: 400px;
        min-height: 400px;
        transition: transform .15s ease-out;
        /*
        @include media-breakpoint-up(sm) {
            width: calc((100vw / 4) - (1.5rem / 4));
        }
        @include media-breakpoint-up(md) {
            width: calc((100vw / 5) - (2rem / 5));
        }
        @include media-breakpoint-up(lg) {
            width: calc((100vw / 6) - (2.5rem / 6));
        }
        @include media-breakpoint-up(xl) {
            width: calc((100vw / 7) - (3rem / 7));
        }*/
        &:hover {
            transform: translateY(-1rem);
        }
        & div, & .slide {
            width: 100%;
            height: 100%;
            margin: 0!important;
        }
    }
    & .flickity-prev-next-button {
        display: none;
    }
}

.max-w-350 {
    max-width: 350px;
}

.max-w-500 {
    max-width: 500px;
}

.card-image.lazyload, .card-image.lazyloading {
    content: '';
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background: #fff;
    vertical-align: text-bottom;
    border: 0.5rem solid #000;
    border-right-color: transparent;
    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}