/* Segments */
.card {
    &.cards &.card {
        border: none;
        box-shadow: none;
    }
    &.cards, &.card, &.inverted.card {
        border: none;
        @include BoxShadow(1);

        &.flat {
            box-shadow: none;
        }
        &.lifted {
            @include BoxShadow(6);
        }

        &.raised {
            @include BoxShadow(12);
        }

        &.boosted {
            @include BoxShadow(24);
        }

        &.padded {
            padding: 1.5rem;
        }
    }
    &.card, &.inverted.card {
        padding: 1rem;
    }
    &.category {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        transition: all .3s ease-out;
        @include BoxShadow(6);
        &:hover {
            @include BoxShadow(16);
        }
        & .content {
            font-size: 2rem;
            font-weight: 900;
            @include TextShadow(6);
        }
    }
    &.product {
        width: 100%;
        height: 100%;
        transition: all .3s ease-out;
        @include BoxShadow(1);
        &:hover {
            @include BoxShadow(2);
        }
        & .card-figcaption {
            display: none!important;
        }
        & .card-image {
            max-height: calc(250px + (250 - 250) * (100vw - 320px)/ (2560 - 320));
        }
        & .card-img-container:after {
            padding-bottom: 75%;
        }
        
    }
}