.home.jumbotron {
    width: 100%;
    height: 75vh;
    min-height: 900px;
    background-color: #b8c60f;
    background-image: url("../src/images/AdobeStock_65314321_Preview.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 35%;
    filter: grayscale(50%);
}