.main-menu .nav .nav-item {
    padding: 0;

    & {
        @include media-breakpoint-up(lg) {
            padding: 0 0.35rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 0.70rem;
        }

        @media (min-width: 1440px) {
            padding: 0 1rem;
        }
    }
}

.main-menu .nav .nav-item-icon {
    padding: 0 0.5rem;

    & {
        @include media-breakpoint-up(xl) {
            padding: 0 1rem;
        }
    }
}

.main-menu .nav .nav-item a {
    //font-family: $subheader-font;
    text-transform: uppercase;
    font-weight: 900;
}

.main-menu .nav .nav-item-icon {
    font-size: 2rem;
}
#mainMenu {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    transition: .5s ease-out;
    &.slide-down {
        padding: 1rem!important;
        animation: slide-down 0.5s;
        //@include BoxShadow(2);
        & {
            @include media-breakpoint-up(lg) {
                padding: 1rem 3rem!important;
            }
        }
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    transition: 1s ease-out;
    animation: fade-up 1s;
}
@keyframes fade-up {
    0% {
        transform: translateY(200%);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}