
.main-menu .nav .nav-item {
    padding: 0;
    & {
        @include media-breakpoint-up(lg) {
            padding: 0 0.35rem;
        }
        @include media-breakpoint-up(xl) {
            padding: 0 0.70rem;
        }
        @media (min-width: 1440px) {
            padding: 0 1rem;
        }
    }
}
.main-menu .nav .nav-item-icon {
    padding: 0 0.5rem;
    & {
        @include media-breakpoint-up(xl) {
            padding: 0 1rem;
        }
    }
}
.main-menu .nav .nav-item a {
    font-family: $subheader-font;
    text-transform: uppercase;
    font-weight: 600;
}
.main-menu .nav .nav-item-icon {
    font-size: 2rem;
}

// Yvan's Navbar
/*#primary {
    top: 0;
    text-shadow: 0 1px 0 aliceblue;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: 9999;

    a {
        color: inherit;
    }

    &.sticky {
        position: sticky;
    }
}

.header {
    padding: 1rem 2rem;
    pointer-events: all;
}

.header--alpha {
    // padding-bottom: 2rem;
    transition: .225s ease-out;

    .sticky & {
        opacity: .5;
        transform: translateY(100%);
        transition: none;
    }
}

.header--beta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: .5;
    transform: translateY(-100%);


    .sticky & {
        opacity: 1;
        transform: translateY(0);
        transition: .35s ease-out;
    }
}*/

#primary {
    top: 0;
    left: 0;
    right: 0;
    transition: .35s ease-out;
    transition: background-color 0s;
    animation: slide-down 0.35s;
    &.slide-up {
        animation-direction: reverse;
    }
    &.fade-up {
        animation: fade-up 0.35s;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

@keyframes fade-up {
    0% {
        transform: translateY(200%);
    } 
    100% {
        transform: translateY(0);
    } 
}