.main-menu.slide-down {
    @include BoxShadow(1);
}
.main-menu .nav .nav-item {
    position: relative;
    padding: 0;

    & {
        @include media-breakpoint-up(lg) {
            margin: 0 0.25rem;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 1.25rem;
        }
    }
}

.main-menu .nav .nav-item-icon {
    padding: 0 1rem;

    & {
        @include media-breakpoint-up(xl) {
            padding: 0 1.25rem;
        }
    }
}

.main-menu .nav .nav-item .nav-link {
    opacity: 0.6;
    //font-family: $subheader-font;
    //text-transform: uppercase;
    font-weight: 900;

    transition: all .1s ease-in-out;
    transition-property: opacity;
}
.main-menu .nav .nav-item:hover .nav-link {
    opacity: 1;
}

.main-menu .nav .nav-item-icon {
    font-size: 2rem;
}

// Dropdowns
.main-menu .nav .nav-item .dropdown {
    position: absolute;
    
    left: 50%;

    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50%, 20px, 0);
    transition: all .1s ease-in-out;
    transition-property: opacity,visibility,transform;
    transform-origin: top center;

    z-index: 1030;
}
.main-menu .nav .nav-item .dropdown .dropdown-image-top {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}
.main-menu .nav .nav-item .dropdown .dropdown-image-left {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}
.main-menu .nav .nav-item .dropdown .dropdown-image-right {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}
.main-menu .nav .nav-item .dropdown .dropdown-header {
    text-transform: uppercase;
    font-weight: 900;
    color: theme-color-level(moss, 5);
}
.main-menu .nav .nav-item .dropdown .dropdown-item, .main-menu .nav .nav-item .dropdown .dropdown-header {
    margin-bottom: 0.5rem;
}
.main-menu .nav .nav-item .dropdown {
    padding-top: 2rem;
}
.main-menu .nav .nav-item:hover .dropdown {
    padding-top: 2rem;
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, 0rem, 0);
}
.main-menu.slide-down .nav .nav-item .dropdown {
    padding-top: 4rem;
}
.main-menu.slide-down .nav .nav-item:hover .dropdown {
    padding-top: 4rem;
    transform: translate3d(-50%, 0rem,0);
}
.main-menu .nav .nav-item .dropdown .style {
    background: #fff;
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
    border: 0 solid rgba(22,28,45,.15);
    border-radius: .375rem;
}
.dropdown.small {
    font-size: 100%;
    min-width: 25rem;
}
.dropdown.medium {
    min-width: 30rem;
}
.dropdown.large {
    min-width: 35rem;
}
.dropdown.extra {
    min-width: 45rem;
}

#mainMenu {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    transition: .5s ease-out;
    &.slide-down {
        padding: 1rem!important;
        //@include BoxShadow(2);
        & {
            @include media-breakpoint-up(xl) {
                padding: 1rem 3rem!important;
            }
        }
    }
}