@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Nunito|Open+Sans&display=swap');


$body-bg: #f5f5f5;
$enable-responsive-font-sizes: true;
$theme-colors:('os-green': #94C120,
'os-orange': #FFCA28);
$header-font: 'Fredoka One',
cursive;
$subheader-font: 'Nunito',
sans-serif;
$p-font: 'Open Sans',
sans-serif;

@import "~bootstrap/scss/bootstrap";

body {
    min-width: 320px;
}

h1 {
    font-family: $header-font
}

h2 {
    font-family: $subheader-font
}

p {
    font-family: $p-font
}

.site-header {
    background-color: rgba(0, 0, 0, .85)
}

@each $name, $color in $theme-colors {
  footer.#{$name} {
      background-color: #{$color}
  }
}