@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Nunito:300,400,600|Open+Sans:300,400,600&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

$font-family-sans-serif:
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for macOS (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    "Roboto",
    // Basic web fallback
    "Helvetica Neue", Arial, sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$body-bg: #e5e5e5; // This will be different for production.

$font-family-base: 'Open Sans', sans-serif; // This is where we switch the global font-family
$enable-responsive-font-sizes: true;
$theme-colors:('moss': #94C120, 'mustard': #FFCA28);

$header-font: 'Fredoka One', cursive;
$subheader-font: 'Nunito', sans-serif;

@import "~bootstrap/scss/bootstrap";

/*
 * Material Design Shadows
 * @serglo/material-design-shadows.css
 *
 * Google material design elevation system shadows as css. 
 * Based on https://material.io/design/environment/elevation.html#default-elevations 
 * Exported with Sketchapp from the Google material design theme editor plugin "Baseline" theme.
 *
 * SASS Mixin developed by ozgurg and MonsieurMan.
 *
 */
@mixin BoxShadow ($dp) {
    @if $dp==0 {
        box-shadow: none
    }
    @else if $dp==1 {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .20)
    }
    @else if $dp==2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .20)
    }
    @else if $dp==3 {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .20)
    }
    @else if $dp==4 {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .20)
    }
    @else if $dp==6 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .20)
    }
    @else if $dp==8 {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .20)
    }
    @else if $dp==9 {
        box-shadow: 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12), 0 5px 6px -3px rgba(0, 0, 0, .20)
    }
    @else if $dp==12 {
        box-shadow: 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12), 0 7px 8px -4px rgba(0, 0, 0, .20)
    }
    @else if $dp==16 {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .20)
    }
    @else if $dp==24 {
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12), 0 11px 15px -7px rgba(0, 0, 0, .20)
    }@else {
        @error "Invalid argument for $dp: {" + $dp + "}, look at the method definition for possible values";
    }
}

/*
 * CSS-Tricks Fluid Typography
 *
 * Here's a robust mixin for fluid typography.
 * Based on https://css-tricks.com/snippets/css/fluid-typography/ 
 *
 */
@function StripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@mixin FluidType($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
            font-size: calc(#{$min-font-size} + #{StripUnit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{StripUnit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
        }
        }
    }
}

/* 
 * REM Conversion
 *
 * px / 16 (base font-size) = REM
 * 10px = 0.625rem
 * 12px = 0.75rem
 * 14px = 0.875rem
 * 16px = 1rem (base)
 * 20px = 1.25rem
 * 24px = 1.5rem
 * 36px = 2.25rem
 * 48px = 3rem
 * 60px = 3.75rem
 * 72px = 4.5rem
 * 84px = 5.25rem
 * 96px = 6rem
* 
 */

html, body {
    font-size: 16px; //@include FluidType(320px, 1200px, 14px, 16px);
    min-width: 320px;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

$headers: ('h1', 'h2', 'h3', 'h4', 'h5', 'h6');

@each $header in $headers {
    #{$header}, #{$header} small, #{$header} .small, .#{$header}, .#{$header} small, .#{$header} .small {
        font-family: $subheader-font;
    }
    #{$header} small, #{$header} .small, .#{$header} small, .#{$header} .small {
        font-weight: 300;
        color: rgba(33, 37, 41, 0.8); // Everything for small is 80%
    }
}

.display-1 {
    @include FluidType(320px, 1200px, 48px, 96px);
    //font-size: 6rem;
}
.display-2 {
    @include FluidType(320px, 1200px, 42px, 84px);
    //font-size: 5.25rem;
}
.display-3 {
    @include FluidType(320px, 1200px, 36px, 72px);
    //font-size: 4.5rem;
}
.display-4 {
    @include FluidType(320px, 1200px, 30px, 60px);
    //font-size: 3.75rem;
}

h1, .h1 {
    @include FluidType(320px, 1200px, 36px, 72px);
    //font-size: 4.5rem;
    font-weight: 300;
}
h2, .h2 {
    @include FluidType(320px, 1200px, 30px, 60px);
    //font-size: 3.75rem;
    font-weight: 300;
}
h3, .h3 { 
    @include FluidType(320px, 1200px, 24px, 48px);
    //font-size: 3rem;
    font-weight: 400;
}
h4, .h4 {
    @include FluidType(320px, 1200px, 22px, 34px);
    //font-size: 2.25rem;
    font-weight: 400;
}
h5, .h5 {
    @include FluidType(320px, 1200px, 20px, 24px);
    //font-size: 1.5rem;
    font-weight: 600;
}
h6, .h6 {
    @include FluidType(320px, 1200px, 18px, 20px);
    //font-size: 1.25rem;
    font-weight: 600;
}

*[class^="display-"], .display  {
    font-family: $header-font
}

.site-header {
    background-color: rgba(0, 0, 0, .85)
}

/* Segments */
.ui {
    &.segment {
        border: none;
        @include BoxShadow(1);
        &.lifted {
            @include BoxShadow(6);
        }
        &.raised {
            @include BoxShadow(12);
        }
        &.boosted {
            @include BoxShadow(24);
        }
    }
}
@each $name, $color in $theme-colors {
  footer.#{$name} {
      background-color: #{$color}
  }
}